<div class="welcome-wrapper">
    <!-- 数据统计板块 -->
    <a-row type="flex" :gutter="24">
        <a-col :span="6">
            <div class="echart-card">
                <div class="echart-card_label flex">
                    <div class="echart-card_title">{{$t('WELCOME.AREA_A.TOTAL_SALE')}}</div>
                    <a-tooltip :title="$t('WELCOME.AREA_A.TOTAL_SALE')">
                        <a-icon type="info-circle" />
                    </a-tooltip>
                </div>
                <div class="echart-card_total">¥ 126,560</div>
                <div class="echart-card_data flex" style="align-items: flex-end;padding-bottom: 5px;">
                    <div class="week-data flex">{{$t('WELCOME.AREA_A.WEEKLY_RATIO')}}<span class="number">12%</span>
                        <a-icon type="caret-up" class="increase" />
                    </div>
                    <div class="day-data flex">{{$t('WELCOME.AREA_A.DAILY_RATIO')}}<span class="number">5%</span>
                        <a-icon type="caret-down" class="increase" />
                    </div>
                </div>
                <div class="echart-card_footer flex">{{$t('WELCOME.AREA_A.TOTAL_VISIT')}}<span class="number">￥12,423</span></div>
            </div>
        </a-col>
        <a-col :span="6">
            <div class="echart-card">
                <div class="echart-card_label flex">
                    <div class="echart-card_title">{{$t('WELCOME.AREA_A.TOTAL_VISIT')}}</div>
                    <a-tooltip :title="$t('WELCOME.AREA_A.WEEKLY_VISIT')">
                        <a-icon type="info-circle" />
                    </a-tooltip>
                </div>
                <div class="echart-card_total">{{visitTotal}}</div>
                <div id='visitEchart' class="echart-card_data"></div>
                <div class="echart-card_footer flex">{{$t('WELCOME.AREA_A.DAILY_VISIT')}}<span class="number">{{dayVisit}}</span></div>
            </div>
        </a-col>
        <a-col :span="6">
            <div class="echart-card">
                <div class="echart-card_label flex">
                    <div class="echart-card_title">{{$t('WELCOME.AREA_A.TOTAL_PAY_TIMES')}}</div>
                    <a-tooltip :title="$t('WELCOME.AREA_A.WEEKLY_PAY_TIMES')">
                        <a-icon type="info-circle" />
                    </a-tooltip>
                </div>
                <div class="echart-card_total">{{payTotal | toThousandFilter}}</div>
                <div id='payEchart' class="echart-card_data"></div>
                <div class="echart-card_footer flex">{{$t('WELCOME.AREA_A.CONVERSION_RATE')}}<span class="number">60%</span></div>
            </div>
        </a-col>
        <a-col :span="6">
            <div class="echart-card">
                <div class="echart-card_label flex">
                    <div class="echart-card_title">{{$t('WELCOME.AREA_A.ACTIVITY_EFFECTS')}}</div>
                    <a-tooltip :title="$t('WELCOME.AREA_A.ACTIVITY_EFFECTS')">
                        <a-icon type="info-circle" />
                    </a-tooltip>
                </div>
                <div class="echart-card_total">78%</div>
                <div class="echart-card_data" style="padding-top: 20px;">
                    <a-progress :percent="percent" status="active" :showInfo="false" strokeLinecap="square"
                        strokeColor="rgb(19, 194, 194)" />
                </div>
                <div class="echart-card_footer flex">
                    <div class="week-data flex">{{$t('WELCOME.AREA_A.WEEKLY_RATIO')}}<span class="number">12%</span>
                        <a-icon type="caret-up" class="increase" />
                    </div>
                    <div class="day-data flex">{{$t('WELCOME.AREA_A.DAILY_RATIO')}}<span class="number">5%</span>
                        <a-icon type="caret-down" class="increase" />
                    </div>
                </div>
            </div>
        </a-col>
    </a-row>
    <!-- 信息展示板块一 -->
    <div style="margin-top: 24px;">
        <a-row type="flex" :gutter="24">
            <a-col :span="12">
                <a-card :title="$t('WELCOME.AREA_B.HOT_SEARCH')" :bordered="false">
                    <div slot="extra">
                        <a-icon type="ellipsis" />
                    </div>
                    <a-row type="flex" :gutter="16">
                        <a-col :span="12">
                            <div class="search-card">
                                <div class="search-card_label flex">
                                    <div class="search-card_title">{{$t('WELCOME.AREA_B.SEARCH_USERS')}}</div>
                                    <a-tooltip :title="$t('WELCOME.AREA_B.SEARCH_USERS')">
                                        <a-icon type="info-circle" />
                                    </a-tooltip>
                                </div>
                                <div class="search-card_total flex">
                                    <div class="search-card_total_number">{{searchTotal | toThousandFilter}}</div>
                                    <div class="search-card_total_yoy">
                                        <span class="number">12.1</span>
                                        <a-icon type="caret-up" class="increase" />
                                    </div>
                                </div>
                                <div id="searchTotalEchart" class="search-card_echart"></div>
                            </div>
                        </a-col>
                        <a-col :span="12">
                                <div class="search-card">
                                    <div class="search-card_label flex">
                                        <div class="search-card_title">{{$t('WELCOME.AREA_B.SEARCH_PER_PERSON')}}</div>
                                        <a-tooltip :title="$t('WELCOME.AREA_B.SEARCH_PER_PERSON')">
                                            <a-icon type="info-circle" />
                                        </a-tooltip>
                                    </div>
                                    <div class="search-card_total flex">
                                        <div class="search-card_total_number">{{searchAvg | toThousandFilter}}</div>
                                        <div class="search-card_total_yoy">
                                            <span class="number">26.2</span>
                                            <a-icon type="caret-down" class="increase" />
                                        </div>
                                    </div>
                                    <div id="searchAvgEchart" class="search-card_echart"></div>
                                </div>
                            </a-col>
                    </a-row>
                    <div class="search-table">
                        <a-table rowKey='id' :columns="columns" :dataSource="searchHot" :pagination="pagination" size="small" @change="handleChange">
                            <template slot='title-link' slot-scope='text'>
                                <a href="javascript:;">{{text}}</a>
                            </template>
                            <template slot='increase-status' slot-scope='text, record, index'>
                                    <span>{{text}}%</span>
                                    <a-icon :type="record.status" class="increase" />
                                </template>
                        </a-table>
                    </div>
                </a-card>
            </a-col>
            <a-col :span="12">
                <a-card :title="$t('WELCOME.AREA_C.SALES_CATEGOTY_RATIO')" :bordered="false">
                    <div slot="extra">
                        <a-radio-group defaultValue="all" style="margin-right: 10px;" @change="switchSalesType">
                            <a-radio-button value="all">{{$t('WELCOME.AREA_C.SALES_ALL')}}</a-radio-button>
                            <a-radio-button value="online">{{$t('WELCOME.AREA_C.SALES_ONLINE')}}</a-radio-button>
                            <a-radio-button value="offline">{{$t('WELCOME.AREA_C.SALES_STORE')}}</a-radio-button>
                        </a-radio-group>
                        <!-- <a-icon type="ellipsis" /> -->
                    </div>
                    <div class="sales-title">{{$t('WELCOME.AREA_C.SALES_SUM')}}</div>
                    <div class="sales-data_area flex">
                        <div class="sales-data_echart">
                            <div id='salesEchart' class="sales-data_echart_canvas"></div>
                            <div class="sales-data_total">
                                <div class="sales-data_total_label">{{$t('WELCOME.AREA_C.SALES_SUM')}}</div>
                                <div class="sales-data_total_money">¥ {{totalSales | toThousandFilter}}</div>
                            </div>
                        </div>
                        <div class="sales-data_list">
                            <template v-for="item, index in salesCurrentDataSource">
                                <div class="sales-data_list_item flex">
                                    <div class="sales-data_list_item_dot" :style="{backgroundColor: item[3]}"></div>
                                    <div class="sales-data_list_item_name">{{item[0]}}</div>
                                    <a-divider type="vertical" />
                                    <div class="sales-data_list_item_percent">{{item[2]}}</div>
                                    <div class="sales-data_list_item_sales">¥ {{item[1]}}</div>
                                </div>
                            </template>
                        </div>
                    </div>
                </a-card>
            </a-col>
        </a-row>
    </div>
    <!-- 信息展示板块二 -->
    <div style="margin-top: 24px;">
        <a-row type="flex" :gutter="24">
            <a-col :span="12">
                <a-card :title="$t('WELCOME.AREA_D.LASTEST_MESSAGE')" :bordered="false">
                    <div slot="extra">
                        <a-icon type="ellipsis" />
                    </div>
                    <a-list itemLayout="horizontal" :dataSource="comments">
                        <a-list-item slot="renderItem" slot-scope="item, index">
                            <a-comment :author="item.author" :avatar="item.avatar">
                                <template slot="actions">
                                    <span v-for="action in item.actions">{{action}}</span>
                                </template>
                                <p slot="content">{{item.content}}</p>
                                <a-tooltip slot="datetime" :title="item.datetime.format('YYYY-MM-DD HH:mm:ss')">
                                    <span>{{item.datetime.fromNow()}}</span>
                                </a-tooltip>
                            </a-comment>
                        </a-list-item>
                    </a-list>
                </a-card>
            </a-col>
            <a-col :span="12">
                <a-card :title="$t('WELCOME.AREA_E.HOT_NEWS')" :bordered="false">
                    <div slot="extra">
                        <a-icon type="ellipsis" />
                    </div>
                    <a-list itemLayout="horizontal" :dataSource="news">
                        <a-list-item slot="renderItem" slot-scope="item, index">
                            <a-list-item-meta description="">
                                <a slot="title" href="javascript:;">{{item.title}}</a>
                            </a-list-item-meta>
                        </a-list-item>
                    </a-list>
                </a-card>
            </a-col>
        </a-row>
    </div>
</div>